{% trans_default_domain 'RabbleAdminBundle' %}
<a href="{{ result.uri }}" target="_blank">
    <div class="card mb-2">
        <div class="card-body">
            <button class="btn btn-primary pull-right">{{ 'search.open_button'|trans }}</button>
            <h5 class="mb-0 c-grey-900">{{ result.title }}</h5>
            <h6 class="badge badge-secondary">{{ result.type }}</h6>
        </div>
    </div>
</a>